
body {
	font-family: 'Source Serif Pro' !important;
}
.Nav {
	ul {
		display: flex;
		list-style-type: none;
		gap: 25px;
	}
	a {
		text-decoration: none;
		color: black;
	}
}
.navSearch {
	ul {
		display: flex;
		list-style-type: none;
		gap: 25px;
	}
	a {
		text-decoration: none;
		color: black;
	}
	img {
		width: 24px;
		height: 25px;
	}
}
.text-title {
	letter-spacing: 0.3rem;
	text-transform: uppercase;
}
.text-blue {
	color: var(--mainBlue);
}
.text-bright {
	color: var(--lightBlue);
}
.btn-black {
	background: transparent;
	text-transform: capitalize;
	font-size: 0.8rem !important;
	color: var(--mainBlack);
	border-radius: 0 !important;
	border: 0.1rem solid var(--mainDark) !important;
	&:hover {
		background: var(--mainDark) !important;
		color: var(--mainWhite) !important;
	}
}
.cart-icon {
	cursor: pointer;
	font-size: 1.2rem;
	color: var(--mainYellow);
	span {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
}
ul.breadcrumb {
	padding: 0px 0px;
	list-style: none;
	li {
		display: inline;
		font-size: 16px;
		a {
			color: #000;
			text-decoration: none;
			&:hover {
				color: #fff;
				text-decoration: underline;
			}
		}
	}
	li+li {
		&:before {
			padding: 8px;
			color: black;
			content: "/\00a0";
		}
	}
}
#master_site_wrapper {
	margin-top: 15px;
	margin-bottom: 30px;
}
.container-fluid {
	padding-left: 0;
	padding-right: 0;
}
.no-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
div#masthead_wrapper {
	display: contents;
	color: #fff;
}
.masthead-content-wrapper {
	background-image: url("https://media.istockphoto.com/photos/business-network-concept-customer-support-shaking-hands-picture-id1256603011?k=20&m=1256603011&s=612x612&w=0&h=ZoZ6LyKdwAqubUtMloUivfG1EYiIDUTJytFX-KK1Xdc=");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: right center;
	height: 300px;
}
.destinations-section-wrapper {
	width: 30%;
	height: 0;
}
.green {
	border-bottom: 320px solid #1B252C;
	position: relative;
	z-index: 0;
	bottom: 13px;
}
.masthead-content {
	width: 75%;
	margin: 0 auto;
}
.title-container {
	width: 70%;
	position: absolute;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 300px;
	z-index: 10;
}
h2.title {
	font-family: 'Montserrat';
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 48px;
	line-height: 0.9;
}
h5.subtitle {
	font-family: 'Raleway';
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
}
hr {
	background-color: #1F39FF;
}
.card {
	border-color: transparent;
	transition: all 1s linear;
	height: 400px;
	margin: 15px;
}
.card-footer {
	background: transparent;
	border-top: transparent;
	transition: all 1s linear;
	h6 {
		margin-bottom: 0px !important;
	}
}
p {
	margin-bottom: 0px !important;
}
.img-container {
	position: relative;
	overflow: hidden;
	padding: 3rem 2rem !important;
	&:hover {
		.card-img-top {
			transform: scale(1.2);
		}
		.cart-btn {
			transform: translate(0, 0);
		}
	}
}
.card-img-top {
	transition: all 1s linear;
	width: 100% !important;
	height: 200px !important;
}
.cart-btn {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0.2rem 0.4rem;
	background: var(--lightBlue);
	border: none;
	color: var(--mainWhite);
	font-size: 1.4rem;
	border-radius: 0.5rem 0 0 0;
	transform: translate(100%, 100%);
	transition: all 1s linear;
	&:hover {
		color: var(--mainBlue);
		cursor: pointer;
	}
}
.color_width {
	display: inline-block;
	span {
		float: left;
		width: 60px;
		height: 37px;
		margin-left: 8px;
		margin-bottom: 10px;
		border: 2px solid #d3d3d3;
		border-radius: 10px;
	}
}
.size {
	display: table;
	span {
		float: left;
		width: 60px;
		text-align: center;
		height: 30px;
		margin-left: 8px;
		margin-bottom: 10px;
		border: 2px solid #d3d3d3;
	}
}
.color1 {
	background-color: #172026;
}
.color2 {
	background-color: #fff;
}
.color3 {
	background-color: #2D9D78;
}
.color4 {
	background-color: #FDBA5E;
}
.color5 {
	background-color: #172026;
}
.color6 {
	background-color: #E34850;
}
.color7 {
	background-color: #6408D3;
}
.color8 {
	background-color: #F9009A;
}
.color9 {
	background-color: #EB7327;
}
.color10 {
	height: 200px;
	width: 300px;
	background: linear-gradient(to right, rgb(238, 252, 83), rgb(120, 239, 197));
	&::before {
		content: "";
		display: block;
		height: 100%;
		background: linear-gradient(to right, rgb(253, 67, 205), rgb(74, 68, 215));
		-webkit-mask: linear-gradient(to bottom, #0000, #000);
		mask: linear-gradient(to bottom, #0000, #000);
	}
}
.sort {
	display: flex;
	justify-content: end;
	align-items: center;
	margin-left: 18px;
	margin-right: 20px;
}
.footer-about {
	img {
		margin-right: 10px;
	}
}
.heading_text {
	text-align: center;
	font-size: 25px;
	margin-top: 20px;
	margin-bottom: 50px;
}
.cart_display {
	display: inline-flex;
	margin-bottom: 15px;
}
.increment {
	border: 2px solid #d3d3d3 !important;
	border-radius: 16px !important;
	margin-left: 0.25rem !important;
	margin-right: 0.25rem !important;
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	background: transparent;
	text-transform: capitalize;
	font-size: 0.8rem !important;
}
.increment1 {
	border-radius: 10px !important;
	border: 2px solid #d3d3d3 !important;
	width: 70px !important;
	margin-left: 0.25rem !important;
	margin-right: 0.25rem !important;
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	background: transparent;
	text-transform: capitalize;
	font-size: 0.8rem !important;
}
.total {
	text-align: center;
	padding: 83px 0px;
	box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}
.navbar {
	padding: 1.5rem 0rem 0rem 2rem !important;
	border-bottom: 1px solid #d3d3d3;
}
.payPal {
	width: 85%;
	height: 42px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: auto;
	background-color: #ffc439;
}
.responsivePayPal {
	height: 36px;
	width: 200px;
	overflow: hidden;
	margin: auto;
	padding-top: 2px;
	img {
		position: relative;
		top: -4px;
		left: -14px;
	}
}
button {
	background: #1F39FF;
	color: #fff;
	border: none !important;
	border-radius: 5px !important;
}
.page_container {
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
}
.padding_details {
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.pagetext-capitalize {
	text-transform: capitalize !important;
}
.pagetext-center {
	text-align: center !important;
	margin: 0 auto !important;
}
.addtocart {
	background-color: #1F39FF !important;
	color: #fff !important;
	border-radius: 10px;
}
.dropdown {
	.item {
		display: none;
	}
	&:hover {
		.item {
			display: block;
		}
	}
}
.log-form {
	width: 400px;
	margin: 0.5em -10.5em;
	padding: 3em 2em 2em 2em;
	background: #fafafa;
	right: -10px;
	position: absolute;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
	a {
		font-size: 9px;
		font-weight: 600;
		letter-spacing: 0.3em;
		line-height: 24px;
		text-transform: uppercase;
		color: #aaaaaa;
	}
}
.group {
	position: relative;
}
.log-input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: #fafafa;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	&:focus {
		outline: none;
	}
}
.left-align {
	float: left;
	text-align: left;
}
.right-align {
	float: right;
	text-align: right;
}
input[type="text"] {
	background: transparent;
	border-radius: 6px;
	font-family: "Montserrat";
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.2em;
	line-height: 24px;
	height: 42px;
	padding-left: 20px;
	padding-right: 20px;
	text-transform: none;
	width: 100%;
}
input[type="email"] {
	background: transparent;
	border-radius: 6px;
	font-family: "Montserrat";
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.2em;
	line-height: 24px;
	height: 42px;
	padding-left: 20px;
	padding-right: 20px;
	text-transform: none;
	width: 100%;
}
input[type="password"] {
	background: transparent;
	border-radius: 6px;
	font-family: "Montserrat";
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.2em;
	line-height: 24px;
	height: 42px;
	padding-left: 20px;
	padding-right: 20px;
	text-transform: none;
	width: 100%;
}
textarea {
	background: transparent;
	border-radius: 6px;
	font-family: "Montserrat";
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.2em;
	line-height: 24px;
	height: 42px;
	padding-left: 20px;
	padding-right: 20px;
	text-transform: none;
	width: 100%;
}
select {
	background: transparent;
	border-radius: 6px;
	font-family: "Montserrat";
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.2em;
	line-height: 24px;
	height: 42px;
	padding-left: 20px;
	padding-right: 20px;
	text-transform: none;
	width: 100%;
}
input[type="checkbox"] {
	&:not(:checked) {
		+ {
			label {
				color: #aaaaaa;
				cursor: pointer;
				font-size: 9px;
				font-weight: 600;
				letter-spacing: 0.3em;
				padding-left: 10px;
				padding-top: 6px;
				position: relative;
				text-transform: uppercase;
			}
		}
	}
	&:checked {
		+ {
			label {
				color: #aaaaaa;
				cursor: pointer;
				font-size: 9px;
				font-weight: 600;
				letter-spacing: 0.3em;
				padding-left: 10px;
				padding-top: 6px;
				position: relative;
				text-transform: uppercase;
			}
		}
	}
}
.title_hr {
	border-bottom: 5px solid blue;
	margin-top: 40px;
}
@media screen and (max-width: 850px) {
	h2.title {
		font-size: 3em !important;
	}
	ul.breadcrumb {
		padding: unset; 
	}
	.breadcrumbmobile{
		margin: 20px;
	}
}
@media screen and (max-width: 1200px) {
	.title-container {
		width: 70% !important;
	}
}
@media (min-width: 1200px) {
	.page_container {
		max-width: 1140px;
	}
}

